.header_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.header_search {
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 10px 20px;
    width: 40%;
    background-color: #F4F4F4;
}

.header_search img {
    width: 20px;
}

.header_search input {
    border: none;
    outline: none;
    width: 80%;
    background-color: transparent;
    margin-right: 20px;

}

.header_search button {
    border: none;
    font-weight: bold;
    background-color: transparent;
    color: #000;
    transition: 0.3s;
}

.header_search button:hover {
    color: #bac34e;
}

.header_icons {
    display: flex;
    align-items: center;
}

.header_icons img {
    width: 25px;
    transition: 0.4s;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #F6F3E3;
    margin-left: 15px;
    transition: 0.4s;
}

.icons:first-child {
    background-color: #E8F8F7;
}

.icons:last-child {
    background-color: #F3E4DC;
}

.icons:hover {
    background-color: #bac34e;
}

.icons:hover img {
    filter: invert(1);
}

.menu_adaptive {
    display: none;
}

@media(max-width:1050px) {
    .header_logo {
        display: none;
    }

    .menu_adaptive {
        display: block;
    }
    .header_search {
        display: none;
    }

    .header_icons div:first-child, .header_icons div:nth-child(2) {
        display: none;
    }
}